body{
    /*background color for the page*/
    background-color: #FAC9B8;
    /*change the font of the text*/
    font-family: monospace;
    margin: 0;
    font-size: larger;
}

nav{
    /*display the nav texts in the centre*/
    display: flex;
    /*this will create a gradient effect on the color of the nav border*/
    background-image: linear-gradient(to right,#DB8A74,#DB7492,#DBBE74);
}

nav ul {
    /*this will make the nav links be beside each other*/
    display: flex;
    /*removes the bulletpoints*/
    list-style-type: none;
    padding-left: 0em;
    margin: auto;
}

nav a{
    /*make the text size bigger*/
    font-size: large;
    text-decoration: none;
    /*change the color of the text*/
    color: #000;
    padding: 1em;
    display: block;
}

nav a:hover{
    /*this will view a different color of the nav links when you hover over it*/
    background-color: #ca2151;
    color: #ffffff;
    text-decoration: none;
}

nav a.active{
    /*it displays a colour in the nav text when you are on the page*/
    background-color: #24243A;
    color: violet;
}

section{
    /* it aligns the text in the section to the center */
    text-align: center;
}

.center{
    /*this will make everything display in the centre of the page*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    /* added a colour to the background of the first heading */
    background-color: #24243A;
    color: #ffffff;
    text-align: center;
}

.container1{
    background-color: #BEBBBB;
    /* this makes the container to a smaller size and not fill majority of the page */
    width: 60%;
    margin: auto;
    /*makes the border more rounded*/
    border-radius: 1.5rem;
    text-align: center;
    color: black;
    padding: 1em;
    margin-bottom: 5rem;
    /*puts a border around it*/
    border-style: groove
}

.imgcontainer{
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.imgcontainer2{
    /* this positions the image in its relative spot inside the container*/
    position: relative;
    /* this makes the image smaller */
    width: 50%;
    /* this puts the image in the middle of the container */
    margin: auto;
}

.bioimg{
    width: 100%;
    height: auto;
}

.imgoverlay{
    /* this positions the overlay exactly over the image */
    position: absolute;
    /* this makes the overlay scroll down to the bottom of the image */
    bottom: 100%;
    background-color: #A5A1A1;
    overflow: hidden;
    width: 100%;
    /* this makes the overlay hidden */
    height: 0em;
    /* this gives it a smooth transition as it scrolls down the image */
    transition: 1s;
}

.imgcontainer2:hover .imgoverlay{
    /* this makes it scroll down instead of scrolling up the page */
    bottom: 0em;
    height: 100%;
}

.imgtext{
    color: white;
    font-size: 12px;
    /* this lowers the text on the overlay */
    margin-top: 35%;
    text-align: center;
}

/*
this creates a different designed container to create more style in our website
*/
.container2{
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    color: black;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    /* makes the animation transition at a quick speed */
    transition: 0.5s;
}

.container2:hover{
    /* it displays a border around the container when you hover over the container */
    box-shadow: 0.8em 0.8em 0.4em #000000;
}

.container2 p{
    padding: 0 1em 1em 1em;
    text-align: center;
}

.container2 h2{
    background-color: #24243A;
    color: #ffffff;
    width: auto;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5em 0 0.5rem 0;
}

.imgcontainer{
    margin-top: 2em;
}

#container{
    background: linear-gradient(to bottom,rosybrown,salmon);
    margin: auto;
    padding: 2em;
    text-align: center;
}

footer{
    background-image: linear-gradient(to top,#DB8A74,#b16248);
    padding: 10px;
    /*makes the text bold*/
    font-weight: bold;
}

footer a{
    color: #ffffff;
    text-decoration: underline;
}

footer a:visited{
    color: #ffffff;
}

.column{
    /*this will make the text in the footer be in diferrent columns*/
    flex: 50%
}

.row{
    /*displays the columns beside each other*/
    display: flex;
}

ul{
    list-style-type: none;
}

/*this will change the form of the webpage when you resize it */
@media only screen and (max-width: 768px){

    nav{
        /* widens out the block to fill out the page*/
        display: block;
    }

    nav a{
        color: #000;
        /* it decreases the gap between each of the nav links */
        padding: 0.5em;
    }

    nav a.active{
        background-color: #000D6B;
    }

    nav a:hover{
        background-color: #FF5DA2;
    }

    nav ul{
        /* displays the nav links below each other */
        display: block;
        background-image: linear-gradient(to top right,#c86cfa,#9C19E0,#550083);
    }

    li{
        /* aligns the nav links into the center */
        text-align: center;
    }

    nav img{
        /* adjusts the image in the navigation bar to the center */
        margin-left: 47%;
    }

    .container1{
        /* makes the container widen more on the page */
        width: auto;
    }

    .imgtext{
        margin-top: 30%;
        text-align: center;
    }

    .container2{
        width: auto;
    }

}

/* this will change the form of the website when you are on a phone */
@media only screen and (max-width: 372px){

    nav img{
        /* this will adjust the logo to the middle of the page */
        margin-left: 45%;
    }

    .imgtext{
        /* this makes the text display in the middle of the overlay */
        margin-top: 6em;
        font-size: small;
        text-align: center;
    }

    .container1 img{
        width: 100%;
    }

    .imgcontainer2{
        width: 90%;
    }

    .container2{
        font-size: small;
    }

    .imgcontainer{
        width: 100%;
    }
}
